.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    letter-spacing: 1px;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    margin-top: 30px;
}

.fa-headphones-alt {
    font-size: 23px;
}

#top-half {
    margin: auto;
    width: 50%;
    text-align: center;
}

#bottom-half {
    margin: auto;
    width: 50%;
    padding-top: 50px;
}

#video-card {
    margin-bottom: 30px;
}

.fixed-bottom {
    margin-left: 5%;
    margin-bottom: 5%;
}

#results-page {
    margin: 20px;
}

#table {
    margin-top: 20px;
}