body {
    background-image: url("http://getwallpapers.com/wallpaper/full/f/9/0/1041779-free-download-music-backgrounds-1920x1080-for-desktop.jpg");
    background-size: cover;
    
}

#homePageContent {
    margin-top: 5%;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    letter-spacing: 1px;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    margin-top: 30px;
}

.fa-headphones-alt {
    font-size: 23px;
}

#top {
    margin: 5%;
}

#top-half {
    margin: auto;
    width: 50%;
    text-align: center;
}

#bottom-half {
    margin: auto;
    width: 50%;
    padding-top: 50px;
}

#video-card {
    margin-bottom: 30px;
}

.fixed-bottom {
    margin-left: 90%;
    margin-bottom: 1%;
}

#results-page {
    margin: 10px;
}


#table {
    margin-top: 20px;
}

#lyrics-info {
    font-size: 20px;
}

#lyrics-spacing {
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#tune-out{
    font-family: 'Oswald', cursive;
    font-weight: bold;
    font-size: 100px;
    background: -webkit-linear-gradient( #6DD3F8, #1252D1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle;
}

#get-your{
    color: white;
    font-size: 80px;
}

#video-info{ 
    width: 100%;
    height: 60%;
}

.card-title {
    margin: 0px;
}

@media screen and (max-width: 414px) {
    
    #home {
        margin-left: 31%;
    }
    #tune-out {
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .table-fixed {
        overflow-y: auto;
        height: 300px;
        display: block;
    }

    .table-fixed th {
        position: sticky;
        top: -3;
    }
    
    tbody{
        clear: both;
    }
   
    #navMo {
        Margin-left: 18%;
    }
    #get-your {
        margin-top: 3%;
        font-size: 50px;
    }
    #tune-out {
        font-size: 90px;
    }

    .fixed-bottom {
        margin-left: 31%;
    }

    #results-page {
        margin-left: 1%;
    }

    #lyrics-spacing {
        margin-bottom: 7%;
    }
}
small {
    font-size: 20px;
    color: white;
    background-color: #65B9A3;
    width: 150px;
}

